
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trmites-y-servicios-T7L {
  width: 100%;
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-4tp8-Lwp {
    position: absolute;
    left: 0;
    top: 36.4rem;
    background-color: #ededed;
    box-sizing: border-box;
    padding: 1.5rem 39.4rem;
    width: 144rem;
    height: 8.4rem;

    .buscador-eBp {
      padding: 1.45rem 1rem;
      height: 100%;
      border-radius: 1rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      border: solid 0.1rem #ededed;
      background-color: #ffffff;

      .buscar-aLN {
        flex-shrink: 0;
        margin-right: 56.6rem;
        font-size: 1.3rem;
        line-height: 1.15;
        color: #005ba3;
        display: flex;
        font-weight: 400;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
      }
      .search-VCS {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .navegacin-trmites-y-servicios-Zi6 {
    box-sizing: border-box;
    padding: 1rem 123.9rem 0.9rem 1.8rem;
    width: 144rem;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.400000006);
    height: 3.4rem;
    position: absolute;
    left: 0;
    top: 22.3rem;
    display: flex;

    .portal-ejY {
      cursor: pointer;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 1.3rem;
      font-size: 1.3rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .item--NvS {
      margin-right: 0.6rem;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .trmites-y-servicios-7NE {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
    }
  }
  .trmites-y-servicios-q3L {
    width: 38.7rem;
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.15;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.6rem;
    left: 52.6rem;
    top: 28rem;
    color: #000000;
  }
  .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-Xgr {
    height: 1.5rem;
    top: 32.6rem;
    white-space: nowrap;
    width: 62.3rem;
    left: 40.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.15;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    position: absolute;
  }
  .auto-group-n7ua-NxN {
    width: 144rem;
    height: 108.6rem;
    top: 44.8rem;
    align-items: center;
    box-sizing: border-box;
    padding: 5rem 6rem 2.6rem 6rem;
    position: absolute;
    left: 0;
    row-gap: 4rem;
    display: flex;
    flex-direction: column;

    .auto-group-sbd8-Tiv {
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 31rem;
      display: flex;

      .claves-aYe {
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        width: 30rem;
        border: solid 0.1rem #dedede;
        position: relative;
        align-items: center;
        display: flex;

        .claves-tZL {
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          display: flex;
          justify-content: center;
          font-weight: 700;
          white-space: nowrap;
        }
        .claves-1-oRQ {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-8Cn {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-DV8 {
          background-color: #7070ff;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          display: flex;
          flex-shrink: 0;
          width: calc(100% - 11.4rem);
          font-weight: 700;
          border-radius: 1rem;
          line-height: 1.15;
          align-items: center;
          text-align: center;
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
          margin: 0 5.7rem;
          height: 2.9278rem;
        }
      }
      .ruc-4ke {
        flex-shrink: 0;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;
        width: 30rem;
        position: relative;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        align-items: center;

        .ruc-ysc {
          align-items: center;
          justify-content: center;
          font-weight: 700;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.15;
          flex-shrink: 0;
          margin: 0rem 0rem 2.55rem 0.4rem;
        }
        .catastro-1-4na {
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-de-registro-nico-de-contribuyentes-oEN {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 6.2rem 1.5rem 0rem;
          max-width: 19.3rem;
        }
        .boton-HQS {
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 0rem 5.7rem 0rem 6.1rem;
          font-size: 1.8rem;
          background-color: #7070ff;
          border-radius: 1rem;
          flex-shrink: 0;
          width: calc(100% - 11.8rem);
          height: 2.9278rem;
          color: #ffffff;
        }
      }
      .facturacin-k38 {
        flex-shrink: 0;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        width: 30rem;

        .facturacin-TTL {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 2.55rem;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .facturacion-1-AsY {
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
        }
        .informacin-sobre-procesos-de-facturacin-HSN {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.3rem 3rem 0rem;
        }
        .boton-ypz {
          font-size: 1.8rem;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          background-color: #7070ff;
          white-space: nowrap;
          width: calc(100% - 11.4rem);
          height: 2.9278rem;
          font-weight: 700;
          line-height: 1.15;
          color: #ffffff;
          margin: 0 5.7rem;
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          border-radius: 1rem;
        }
      }
      .entrega-y-recepcion-informacin-fiscal-F1p {
        row-gap: 1.5rem;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        width: 30rem;

        .entrega-y-recepcin-de-informacin-fiscal-LZ4 {
          max-width: 24.8rem;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          line-height: 1.15;
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .entrega-y-recepcion-fiscal-1-T7t {
          vertical-align: top;
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
        }
        .informacin-sobre-declaraciones-anexos-y-otros-BZg {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.1rem;
          max-width: 24.8rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-hH8 {
          background-color: #7070ff;
          text-align: center;
          font-size: 1.8rem;
          flex-shrink: 0;
          line-height: 1.15;
          align-items: center;
          font-weight: 700;
          white-space: nowrap;
          display: flex;
          margin: 0 5.7rem;
          height: 2.9278rem;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          border-radius: 1rem;
          width: calc(100% - 11.4rem);
          color: #ffffff;
        }
      }
    }
    .auto-group-qtyx-MsU {
      flex-shrink: 0;
      width: 100%;
      height: 31rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;

      .pago-de-impuestos-guk {
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        width: 30rem;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;

        .pago-de-impuestos-zfY {
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.15;
          color: #000000;
          margin-bottom: 2.55rem;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
        }
        .pagos-1-7VG {
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-pago-de-impuestos-T3L {
          margin: 0rem 2.9rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .boton-Lcv {
          justify-content: center;
          border-radius: 1rem;
          height: 2.9278rem;
          text-align: center;
          font-size: 1.8rem;
          margin: 0 5.7rem;
          color: #ffffff;
          display: flex;
          background-color: #7070ff;
          flex-shrink: 0;
          width: calc(100% - 11.4rem);
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.15;
          align-items: center;
        }
      }
      .deudas-p2J {
        height: 100%;
        position: relative;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 30rem;
        overflow: hidden;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;

        .deudas-XSW {
          margin: 0rem 0rem 2.55rem 0.4rem;
          align-items: center;
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .deudas1-1-dkS {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-pago-de-deudas-AkN {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.5rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-sen {
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          height: 2.9278rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.15;
          display: flex;
          border-radius: 1rem;
          width: calc(100% - 11.8rem);
          background-color: #7070ff;
          flex-shrink: 0;
          margin: 0rem 5.7rem 0rem 6.1rem;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          font-size: 1.8rem;
        }
      }
      .devoluciones-y-reintegro-L2a {
        height: 100%;
        overflow: hidden;
        position: relative;
        row-gap: 1.5rem;
        display: flex;
        box-sizing: border-box;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        width: 30rem;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;

        .devoluciones-y-reintegro-2g6 {
          justify-content: center;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          color: #000000;
          max-width: 16.2rem;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .auto-group-buu4-kc6 {
          background-image: url('REPLACE_IMAGE:3a6fb3b299a2a34f9563c7905026f58b02b0b149');
          flex-shrink: 0;
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;

          .deudas-2-7Se {
            height: 13.3rem;
            object-fit: cover;
            vertical-align: top;
            width: 25.9rem;
          }
        }
        .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-RTL {
          margin-right: 0.1rem;
          max-width: 25.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .boton-LKQ {
          text-align: center;
          line-height: 1.15;
          color: #ffffff;
          border-radius: 1rem;
          height: 2.9278rem;
          white-space: nowrap;
          justify-content: center;
          font-family: Arimo, 'Source Sans Pro';
          width: calc(100% - 11.4rem);
          font-size: 1.8rem;
          display: flex;
          flex-shrink: 0;
          margin: 0 5.7rem;
          align-items: center;
          background-color: #7070ff;
          font-weight: 700;
        }
      }
      .trmites-y-notificaciones-QaA {
        row-gap: 1.5rem;
        align-items: center;
        display: flex;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        width: 30rem;

        .trmites-y-notificaciones-JfY {
          max-width: 15.4rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .tramites-y-notificaciones-1-cAS {
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-trmites-y-notificaciones-jkr {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 2rem;
          max-width: 23.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-Dvv {
          background-color: #7070ff;
          align-items: center;
          flex-shrink: 0;
          width: calc(100% - 11.4rem);
          text-align: center;
          line-height: 1.15;
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
          margin: 0 5.7rem;
          height: 2.9278rem;
          font-size: 1.8rem;
          border-radius: 1rem;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
      }
    }
    .auto-group-e6fy-pQv {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 31rem;
      display: flex;
      column-gap: 4rem;

      .certificados-tributarios-7up {
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        width: 30rem;

        .certificados-tributarios-ZG2 {
          font-size: 1.8rem;
          line-height: 1.15;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 13.5rem;
          justify-content: center;
        }
        .certificados-tributarios-1-eHU {
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-certificados-tributarios-k5c {
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.1rem;
          max-width: 24.8rem;
          font-size: 1.3rem;
        }
        .boton-2op {
          font-size: 1.8rem;
          border-radius: 1rem;
          text-align: center;
          line-height: 1.15;
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          background-color: #7070ff;
          flex-shrink: 0;
          margin: 0 5.7rem;
          width: calc(100% - 11.4rem);
          font-weight: 700;
          white-space: nowrap;
          height: 2.9278rem;
          display: flex;
          align-items: center;
        }
      }
      .impuestos-vehiculares-6Yn {
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        position: relative;
        display: flex;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;
        width: 30rem;
        height: 100%;
        overflow: hidden;

        .impuestos-vehiculares-oxz {
          justify-content: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 2.55rem 0.4rem;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.15;
          color: #000000;
          white-space: nowrap;
        }
        .impuestos-vehiculares-1-iq4 {
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-impuestos-vehiculares-rAa {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.3rem 1.5rem 0rem;
          max-width: 24.2rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-9Qa {
          color: #ffffff;
          white-space: nowrap;
          height: 2.9278rem;
          background-color: #7070ff;
          justify-content: center;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          align-items: center;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          border-radius: 1rem;
          margin: 0rem 5.7rem 0rem 6.1rem;
          width: calc(100% - 11.8rem);
          font-weight: 700;
        }
      }
      .ice-BMG {
        box-sizing: border-box;
        width: 30rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        border: solid 0.1rem #dedede;

        .ice-gop {
          align-items: center;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          display: flex;
          justify-content: center;
        }
        .auto-group-38ml-CnA {
          background-image: url('REPLACE_IMAGE:3a6fb3b299a2a34f9563c7905026f58b02b0b149');
          box-sizing: border-box;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          padding-top: 0.2rem;
          width: 100%;

          .ice-1-wUr {
            height: 13.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 25.9rem;
          }
        }
        .informacin-sobre-impuestos-a-los-consumos-especiales-FEe {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 6rem 1.5rem 0rem;
          max-width: 19.9rem;
        }
        .boton-YUe {
          margin: 0 5.7rem;
          width: calc(100% - 11.4rem);
          color: #ffffff;
          white-space: nowrap;
          background-color: #7070ff;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 2.9278rem;
          text-align: center;
          line-height: 1.15;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          border-radius: 1rem;
        }
      }
      .otras-peticiones-pSA {
        flex-direction: column;
        overflow: hidden;
        display: flex;
        width: 30rem;
        height: 100%;
        position: relative;
        align-items: center;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 2rem;

        .otras-peticiones-jZ8 {
          white-space: nowrap;
          align-items: center;
          font-size: 1.8rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          display: flex;
        }
        .otras-peticiones-1-Tk2 {
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-otras-peticiones-zV4 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.5rem 0rem;
          max-width: 21.1rem;
        }
        .boton-JEr {
          height: 2.9278rem;
          text-align: center;
          background-color: #7070ff;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: calc(100% - 11.4rem);
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          margin: 0 5.7rem;
          line-height: 1.15;
          display: flex;
        }
      }
    }
  }
  .pie-pagina-Myp {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144.7rem;
    height: 9rem;
    position: absolute;
    left: 0;
    top: 153.4rem;

    .auto-group-vz9t-VKL {
      margin-bottom: 1.2rem;
      width: 100%;
      height: 6.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-zugr-RTt {
        margin: 1.6rem 2.4rem 0rem 0rem;
        box-sizing: border-box;
        padding: 1rem 10.5rem 0rem 10.5rem;
        width: 60.1rem;
        border-top: solid 0.1rem #3f3f3f;
        flex-shrink: 0;

        .image-1-8dC {
          width: 16rem;
          height: 4.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .social-icons-f7L {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.9rem;
        width: 3.2rem;
        height: 3.2rem;
      }
      .social-icons-nxe {
        margin-right: 4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .social-icons-jN6 {
        margin-right: 2.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-zees-5B4 {
        margin: 1.55rem 0rem 0.6rem 0rem;
        height: calc(100% - 2.15rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .line-6-nrA {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.85rem;
          width: 62.3rem;
        }
        .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-Y4e {
          text-align: right;
          font-size: 1.1rem;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          margin-left: 6.9rem;
          max-width: 42.4rem;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.15;
        }
      }
    }
    .auto-group-hjwn-aX8 {
      margin: 0rem 0.2rem 0rem 0.5rem;
      width: calc(100% - 0.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-1-7GA {
        width: 72rem;
        height: 1rem;
        background-color: #ffff00;
        flex-shrink: 0;
      }
      .rectangle-2-f2n {
        width: 43.2rem;
        height: 1rem;
        background-color: #0000ff;
        flex-shrink: 0;
      }
      .rectangle-3-Qm4 {
        width: 28.8rem;
        height: 1rem;
        background-color: #ff0000;
        flex-shrink: 0;
      }
    }
  }
  .component-2-MRQ {
    height: 22.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 215.247%;
    background-position: 0 -0.542rem;
    background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    width: 144rem;

    .rectangle-13-6Nz {
      width: 144rem;
      height: 9.8rem;
      position: absolute;
      left: 0;
      top: 5.6rem;
      background-color: rgba(0, 0, 0, 0.400000006);
    }
    .servicio-de-rentas-internas-cs8 {
      width: 40.4rem;
      height: 2.9rem;
      font-size: 2.5rem;
      font-weight: 700;
      color: #ededed;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 50.9rem;
      top: 9.1rem;
      line-height: 1.15;
    }
    .component-2-MRQ-bg {
      background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
      width: 144rem;
      height: 22.3rem;
      position: relative;
    }
  }
}
