
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trmites-y-servicios-T7L {
  width: 100%;
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.trmites-y-servicios-T7L .auto-group-4tp8-Lwp {
  box-sizing: border-box;
  padding: 1.5rem 39.4rem;
  width: 144rem;
  height: 8.4rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  background-color: #ededed;
}
.trmites-y-servicios-T7L .auto-group-4tp8-Lwp .buscador-eBp {
  box-sizing: border-box;
  padding: 1.45rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  background-color: #ffffff;
  border-radius: 1rem;
}
.trmites-y-servicios-T7L .auto-group-4tp8-Lwp .buscador-eBp .buscar-aLN {
  margin-right: 56.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-4tp8-Lwp .buscador-eBp .search-VCS {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .navegacin-trmites-y-servicios-Zi6 {
  box-sizing: border-box;
  padding: 1rem 123.9rem 0.9rem 1.8rem;
  width: 144rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 22.3rem;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.400000006);
}
.trmites-y-servicios-T7L .navegacin-trmites-y-servicios-Zi6 .portal-ejY {
  margin-right: 1.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .navegacin-trmites-y-servicios-Zi6 .item--NvS {
  margin-right: 0.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .navegacin-trmites-y-servicios-Zi6 .trmites-y-servicios-7NE {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .trmites-y-servicios-q3L {
  width: 38.7rem;
  height: 4.6rem;
  position: absolute;
  left: 52.6rem;
  top: 28rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-T7L .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-Xgr {
  width: 62.3rem;
  height: 1.5rem;
  position: absolute;
  left: 40.8rem;
  top: 32.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN {
  box-sizing: border-box;
  padding: 5rem 6rem 2.6rem 6rem;
  width: 144rem;
  height: 108.6rem;
  position: absolute;
  left: 0;
  top: 44.8rem;
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .claves-aYe {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .claves-aYe .claves-tZL {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .claves-aYe .claves-1-oRQ {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .claves-aYe .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-8Cn {
  margin: 0rem 2.9rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .claves-aYe .boton-DV8 {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .ruc-4ke {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .ruc-4ke .ruc-ysc {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .ruc-4ke .catastro-1-4na {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .ruc-4ke .informacin-de-registro-nico-de-contribuyentes-oEN {
  margin: 0rem 6.2rem 1.5rem 0rem;
  max-width: 19.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .ruc-4ke .boton-HQS {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .facturacin-k38 {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .facturacin-k38 .facturacin-TTL {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .facturacin-k38 .facturacion-1-AsY {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .facturacin-k38 .informacin-sobre-procesos-de-facturacin-HSN {
  margin: 0rem 1.3rem 3rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .facturacin-k38 .boton-ypz {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .entrega-y-recepcion-informacin-fiscal-F1p {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .entrega-y-recepcion-informacin-fiscal-F1p .entrega-y-recepcin-de-informacin-fiscal-LZ4 {
  max-width: 24.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .entrega-y-recepcion-informacin-fiscal-F1p .entrega-y-recepcion-fiscal-1-T7t {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .entrega-y-recepcion-informacin-fiscal-F1p .informacin-sobre-declaraciones-anexos-y-otros-BZg {
  margin-right: 1.1rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-sbd8-Tiv .entrega-y-recepcion-informacin-fiscal-F1p .boton-hH8 {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .pago-de-impuestos-guk {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .pago-de-impuestos-guk .pago-de-impuestos-zfY {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .pago-de-impuestos-guk .pagos-1-7VG {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .pago-de-impuestos-guk .informacin-sobre-procesos-de-pago-de-impuestos-T3L {
  margin: 0rem 2.9rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .pago-de-impuestos-guk .boton-Lcv {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .deudas-p2J {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .deudas-p2J .deudas-XSW {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .deudas-p2J .deudas1-1-dkS {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .deudas-p2J .informacin-sobre-procesos-de-pago-de-deudas-AkN {
  margin: 0rem 2.5rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .deudas-p2J .boton-sen {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a .devoluciones-y-reintegro-2g6 {
  max-width: 16.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a .auto-group-buu4-kc6 {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/facturacion-1-bg-sHG.png');
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a .auto-group-buu4-kc6 .deudas-2-7Se {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-RTL {
  margin-right: 0.1rem;
  max-width: 25.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .devoluciones-y-reintegro-L2a .boton-LKQ {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .trmites-y-notificaciones-QaA {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .trmites-y-notificaciones-QaA .trmites-y-notificaciones-JfY {
  max-width: 15.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .trmites-y-notificaciones-QaA .tramites-y-notificaciones-1-cAS {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .trmites-y-notificaciones-QaA .informacin-sobre-procesos-de-trmites-y-notificaciones-jkr {
  margin-right: 2rem;
  max-width: 23.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-qtyx-MsU .trmites-y-notificaciones-QaA .boton-Dvv {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .certificados-tributarios-7up {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .certificados-tributarios-7up .certificados-tributarios-ZG2 {
  max-width: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .certificados-tributarios-7up .certificados-tributarios-1-eHU {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .certificados-tributarios-7up .informacin-sobre-procesos-de-certificados-tributarios-k5c {
  margin-right: 1.1rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .certificados-tributarios-7up .boton-2op {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .impuestos-vehiculares-6Yn {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .impuestos-vehiculares-6Yn .impuestos-vehiculares-oxz {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .impuestos-vehiculares-6Yn .impuestos-vehiculares-1-iq4 {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .impuestos-vehiculares-6Yn .informacin-sobre-procesos-de-impuestos-vehiculares-rAa {
  margin: 0rem 1.3rem 1.5rem 0rem;
  max-width: 24.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .impuestos-vehiculares-6Yn .boton-9Qa {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG .ice-gop {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG .auto-group-38ml-CnA {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/facturacion-1-bg.png');
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG .auto-group-38ml-CnA .ice-1-wUr {
  width: 25.9rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG .informacin-sobre-impuestos-a-los-consumos-especiales-FEe {
  margin: 0rem 6rem 1.5rem 0rem;
  max-width: 19.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .ice-BMG .boton-YUe {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .otras-peticiones-pSA {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .otras-peticiones-pSA .otras-peticiones-jZ8 {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .otras-peticiones-pSA .otras-peticiones-1-Tk2 {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .otras-peticiones-pSA .informacin-sobre-procesos-de-otras-peticiones-zV4 {
  margin: 0rem 4.8rem 1.5rem 0rem;
  max-width: 21.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .auto-group-n7ua-NxN .auto-group-e6fy-pQv .otras-peticiones-pSA .boton-JEr {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp {
  width: 144.7rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 153.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .auto-group-zugr-RTt {
  margin: 1.6rem 2.4rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem 10.5rem 0rem 10.5rem;
  width: 60.1rem;
  border-top: solid 0.1rem #3f3f3f;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .auto-group-zugr-RTt .image-1-8dC {
  width: 16rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .social-icons-f7L {
  margin-right: 3.9rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .social-icons-nxe {
  margin-right: 4rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .social-icons-jN6 {
  margin-right: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .auto-group-zees-5B4 {
  margin: 1.55rem 0rem 0.6rem 0rem;
  height: calc(100% - 2.15rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .auto-group-zees-5B4 .line-6-nrA {
  margin-bottom: 0.85rem;
  width: 62.3rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-vz9t-VKL .auto-group-zees-5B4 .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-Y4e {
  margin-left: 6.9rem;
  max-width: 42.4rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-hjwn-aX8 {
  margin: 0rem 0.2rem 0rem 0.5rem;
  width: calc(100% - 0.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-hjwn-aX8 .rectangle-1-7GA {
  width: 72rem;
  height: 1rem;
  background-color: #ffff00;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-hjwn-aX8 .rectangle-2-f2n {
  width: 43.2rem;
  height: 1rem;
  background-color: #0000ff;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .pie-pagina-Myp .auto-group-hjwn-aX8 .rectangle-3-Qm4 {
  width: 28.8rem;
  height: 1rem;
  background-color: #ff0000;
  flex-shrink: 0;
}
.trmites-y-servicios-T7L .component-2-MRQ {
  width: 144rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 215.247%;
  background-position: 0 -0.542rem;
  background-image: url('../assets/palaciocarondelet-1-bg.png');
}
.trmites-y-servicios-T7L .component-2-MRQ .rectangle-13-6Nz {
  width: 144rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.trmites-y-servicios-T7L .component-2-MRQ .servicio-de-rentas-internas-cs8 {
  width: 40.4rem;
  height: 2.9rem;
  position: absolute;
  left: 50.9rem;
  top: 9.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ededed;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-T7L .component-2-MRQ .component-2-MRQ-bg {
  width: 144rem;
  height: 22.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
}
